{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load formset_tags %}
{% load widget_tweaks %}

{% block layout %}

<div class="row">
  <div class="col-md-6 col-md-offset-3" align="center">
      <h2>Downloading database schema...</h2>
      <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
</div>

<script type='text/javascript'>
    function check_finished() {
      job_status('{{ job.pk }}', function(status) {
        if (status['status'] == 'SUCCESS') {
          window.location.replace('{% url 'select_program_type_pk' job.program.pk %}');
        } else if (status['status'] == 'FAILURE') {
          window.location.replace('{% url 'schema_download_failure' job.program.pk %});
      });
      setTimeout(check_finished, 1000);
    }

    $(document).ready(function () {
      check_finished()
    });
</script>
{% endblock %}

